.sidebar-nav {
  margin-top: 20px;
  padding: 0;
  list-style: none;
}

table {
  border-collapse: collapse;
  line-height: 1.1;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  background:  radial-gradient(farthest-corner at 50% 50%, white, #DCECF8);
  color: #0C213B;
}

th,
td {
  padding: 20px;
}